#map * {
  fill: white;
}
.stop-tooltip {
  padding: 10px;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bold;
  visibility: hidden;
  display: inline-block;
  position: absolute;
  font-family: "Inter", sans-serif;
}
.stop{
  transition: stroke-width 0.5s;
}
.live-view-stop{
  transition: stroke-width 0.5s;
}
.line-full{
  transition: stroke-width 0.3s;
}
.line-full:hover{
  cursor:pointer;
}
.line-about {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
}
.train-icon {
  width: 50px;
  position: absolute;
  height: 25px;
}
.legend {
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 2px;
  padding: 10px;
  display: inline-block;
}
.legend-text {
  font-family: "Inter", sans-serif;
  color: rgb(21, 21, 21);
  font-size: 18px;
  font-weight: 400;
}
.legend-items {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  align-items: center;
  row-gap: 10px;
}
.legend-block {
  width: 35px;
  border-radius: 2px;
  height: 15px;
}
.legend-block.on-time {
  background-color: #21d648;
}
.legend-block.behind-schedule {
  background-color: orange;
}
.legend-block.late {
  background-color: red;
}
.legend-block.no-data {
  background-color: #cdcdcd;
}
.legend-block-text {
  font-size: 13px;
  color: rgb(60, 60, 60);
  font-family: "Inter", sans-serif;
  white-space: nowrap;
}
.nav-main {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 100px;
}
.line-selector-outer {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  column-gap: 20px;
}
.line-selector-prompt {
  font-size: 17px;
  color: rgb(60, 60, 60);
  font-family: "Inter", sans-serif;
  white-space: nowrap;
}
.line-options {
  font-size: 17px;
  color: rgb(60, 60, 60);
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  padding: 5px;
}
.record-container {
  display: inline-grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 40px;
  border: 1px solid black;
  border-bottom:none;
  grid-gap: 1px;
  background-color: black;
}
.record-container .cell:nth-last-child(1){
  border-bottom:1px solid black !important;
}
.record-container .cell:nth-last-child(2){
  border-bottom:1px solid black !important;
}
.record-container .cell:nth-last-child(3){
  border-bottom:1px solid black !important;
}
.cell {
  font-size: 15px;
  color: rgb(60, 60, 60);
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  padding: 5px;
  /*border: 1px solid black;
  border-bottom: none;*/
  background-color:white;
  display: flex;
}
.cell-header {
  font-weight: bold;
}
.cell-hover {
  /*background-color: rgb(235, 162, 162);*/
    background: #cee0f4!important;
    border-color: #165c96!important;
    color: #165c96;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*
  width: 960px;
  height: 500px;
  */
  position: relative;
}

svg {
  width: 100%;
  height: 100%;
}

path.slice {
  stroke-width: 2px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}

polyline {
  opacity: 0.3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.main-container{
  width:90%;
  margin:0 auto;
}
.header-title{
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 40px;
  font-weight: bold;
}
.description-text{
  font-family: "Inter", sans-serif;
  color: rgb(38, 38, 38);
  font-size: 16px;
  line-height:1.4;
}
.selection-header{
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 15px;
  align-items: center;
}
.choice-prompt{
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
}
.rail-line-options{
  display: flex;
  flex-wrap: wrap;
  gap:8px;
}
.route-choice{
  border: 1px solid #e9eaed;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1.25;
  padding: 0.75rem;
  width:250px;
  color: #165c96;
  font-size: 16px;
}
.route-choice:hover{
    background: #cee0f4!important;
    border-color: #165c96!important;
    cursor:pointer;
}
.route-choice-selected{
    background: #cee0f4!important;
    border-color: #165c96!important;
}
.route-reliability-header{
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
}
.data-view-outer{
  display: grid;
  grid-template-columns: 60% 40%;
}
.route-map-outer{
  position: relative;
}
#stop-delay-table{
  grid-template-columns: min-content min-content min-content;
  position: relative !important;
  top:0 !important;
  left:0 !important;
}
.route-view-stop{
  transition: stroke-width 0.5s;
}
.route-view-stop:hover{
  cursor:pointer;
}
.live-view-stop:hover{
  cursor:pointer;
}
.legend-items-horizontal{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 15px;
  align-items: center;
}
.legend-delay-stops{
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 7px;
  align-items: center;
}
.legend-circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;;
}
.live-view-outer{
  display: grid;
  grid-template-columns: 60% 40%;
}
#live-view-map * {
  fill: white;
}
.train-pulse{
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
  position: absolute;
}
@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.train-pulse.white {
	background: white;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.train-pulse.red {
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 12px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

.train-pulse.orange {
	background: rgba(255, 121, 63, 1);
	box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
	animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
	}
	
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 12px rgba(255, 121, 63, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

.train-pulse.yellow {
	background: rgba(255, 177, 66, 1);
	box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
	animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
	}
	
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 12px rgba(255, 177, 66, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
	}
}

.train-pulse.blue {
	background: rgba(52, 172, 224, 1);
	box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
	animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
	}
	
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 12px rgba(52, 172, 224, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
	}
}

.train-pulse.green {
	background: rgb(51, 217, 98);
	box-shadow: 0 0 0 0 rgb(51, 217, 98);
	animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 98, 0.7);
	}
	
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 12px rgba(51, 217, 178, 0);
	}
	
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(51, 217, 98, 0);
	}
}

.train-pulse.purple {
	background: rgba(142, 68, 173, 1);
	box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
	animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
	}
}
.live-view-about{
  display: none;
}
.route-map-outer .legend{
  margin-left:0px;
}
.live-view-container .legend{
  margin-left:0px;
}
#live-display-table{
  grid-template-columns: min-content min-content min-content min-content;
  position: relative !important;
  top:0 !important;
  left:0 !important;
}
.full-route-view-outer{
  display: grid;
  grid-template-columns: 60% 40%;
}
#full-route-table {
  grid-template-columns: min-content min-content min-content;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}
#full-route-map * {
  fill:white;
}
.full-route-view-outer .legend-items{
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  align-items: center;
  column-gap: 15px;
}